encryption = "age"
[age]
    identity = "~/.ssh/id_rsa"
    symmetric = true

[merge]
    command = "nvim"
    args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}`}}", "{{`{{ .Target }}`}}"]

{{ if lookPath "delta" -}}
[diff]
    command = "delta"
    pager = "delta"
{{- else if lookPath "nvim" }}
[diff]
    command = "nvim"
    args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Target }}`}}"]
{{- end }}
