<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="autohotkey.portable" />
  <package id="chocolatey" />
  <package id="clash-for-windows" />
  <package id="dropbox" />
  <package id="internet-download-manager" />
  <package id="irfanview" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="wechat" />
</packages>
