<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="autohotkey.portable" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="clash-for-windows" />
  <package id="dingtalk" />
  <package id="dropbox" />
  <package id="Everything" />
  <package id="internet-download-manager" />
  <package id="irfanview" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="sumatrapdf" />
  <package id="sumatrapdf.install" />
  <package id="tencentmeeting" />
  <package id="tim" />
  <package id="wechat" />
  <package id="wecom" />
</packages>