[user]
    name = Hongyuan Jia
    email = hongyuanjia@cqust.edu.cn
[commit]
    template = ~/.gittemplate
[credential]
    helper = store
[core]
{{- if eq .chezmoi.os "windows" }}
    autocrlf = true
{{- else }}
    autocrlf = input
{{- end}}
    quotepath = off
    editor = vim
    fileMode = false
    longpaths = true
    {{- if lookPath "delta" }}
    pager = delta
    {{- end }}
    excludesFile = ~/.gitignore
{{- if lookPath "delta" }}
[interactive]
    diffFilter = delta --color-only
[delta]
    light = false
    navigate = true
    side-by-side = true
    line-numbers = true
[diff]
    colorMoved = default
[merge]
    conflictstyle = diff3
{{- end }}
