[user]
    name = Hongyuan Jia
    email = hongyuanjia@cqust.edu.cn
[commit]
    template = ~/.gittemplate
[credential]
    helper = store
[core]
{{- if eq .chezmoi.os "windows" }}
    autocrlf = true
{{- else }}
    autocrlf = input
{{- end}}
    quotepath = off
    editor = vim
    fileMode = false
    longpaths = true
    {{- if lookPath "delta" }}
    pager = delta
    {{- end }}
    excludesFile = ~/.gitignore
[init]
    defaultBranch = main
[diff]
{{- if lookPath "delta" }}
    colorMoved = default
{{- end }}
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
{{- if lookPath "delta" }}
[interactive]
    diffFilter = delta --color-only
[delta]
    light = false
    navigate = true
    side-by-side = true
    line-numbers = true
[merge]
    conflictstyle = diff3
{{- end }}
[pull]
    rebase = true
